@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html {
    font-family: 'Source Sans Pro' ;
}

.index-menu {
    display: flex;
    flex-direction: column;
}

.home-link {
    margin: auto;
    display: flex;
    width: 70px;
}